################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/02 23-02-2021 Files and Directories/WindowsFormsApp1/.vs/WindowsFormsApp1/v16/Server/sqlite3/db.lock
/03 02-03-2021 SQL DataReader/SQLDemo/.vs/SQLDemo/v16/Server/sqlite3/db.lock
/04 09-03-2021 DataSet DataTable/DataSetDemo/.vs/DataSetDemo/v16/Server/sqlite3/db.lock
/05 16-03-2021 Web API/WebApplication1/.vs/WebApplication1/v16/Server/sqlite3/db.lock
/05 06 16-03-2021 06-04-2021 Web API/WebApplication1/.vs/WebApplication1/v16/Server/sqlite3/db.lock
/05 06 07 16-03-2021 06-04-2021 13-04-2021 Web API/WebApplication1/.vs/WebApplication1/v16/Server/sqlite3/db.lock
/08 20-04-2021 LINQ/02 LinqToDataSet/.vs/DataSet/v16/Server/sqlite3/db.lock
/08 20-04-2021 LINQ/LinqDemo/LinqDemo/.vs/LinqDemo/v16/Server/sqlite3/db.lock
