################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/02 23-02-2021 Files and Directories/WindowsFormsApp1/.vs/WindowsFormsApp1/v16/Server/sqlite3/db.lock
/03 02-03-2021 SQL DataReader/SQLDemo/.vs/SQLDemo/v16/Server/sqlite3/db.lock
/04 09-03-2021 DataSet DataTable/DataSetDemo/.vs/DataSetDemo/v16/Server/sqlite3/db.lock
