USE [master]
GO
/****** Object:  Database [DBUsers]    Script Date: 08/03/2021 11:58:19 ******/
CREATE DATABASE [DBUsers]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBUsers', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DBUsers.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBUsers_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DBUsers_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBUsers].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBUsers]
GO
/****** Object:  Table [dbo].[TBUsers]    Script Date: 08/03/2021 11:58:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBUsers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Family] [nvarchar](50) NULL,
 CONSTRAINT [PK_TBUsers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBUsers] ON 

INSERT [dbo].[TBUsers] ([ID], [Name], [Family]) VALUES (1, N'avi', N'cohen')
INSERT [dbo].[TBUsers] ([ID], [Name], [Family]) VALUES (3, N'charlie', N'brown')
INSERT [dbo].[TBUsers] ([ID], [Name], [Family]) VALUES (7, N'eli', N'kbelik')
SET IDENTITY_INSERT [dbo].[TBUsers] OFF
/****** Object:  StoredProcedure [dbo].[SearchUser]    Script Date: 08/03/2021 11:58:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchUser] @MyID int , @FamilyName varchar(20) output AS
	Select @FamilyName= Family 
	From TBUsers
	where ID=@MyID
	return  @@ERROR
GO
/****** Object:  StoredProcedure [dbo].[SearchUserTable]    Script Date: 08/03/2021 11:58:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchUserTable] @MyID int AS
	Select *
	From TBUsers
	where ID >= @MyID
GO
USE [master]
GO
